body {
    margin-left: 50px;
}

h1 {
    font-family:arial;
    font-size:30px;
  }
  
  div {
    padding:5px;
  }

p {
  font-size:18px;
  line-height: 1.2;
}
  
#left {
 width: 280px;
 height: 700px;
 position: absolute;
 left: 100px;
}

#right {
  width: 280px;
  height: 700px;
  position:absolute;
  left: 350px;
  top: 80px;
}


  